= simple_form_for @todo do |f|
  = f.input :title
  = f.input :description

  = f.submit 'Submit', class: 'btn-primary margin-top-sm', data: { turbo_confirm: 'Are you sure?', confirm_button: 'Yes, Submit!!!' }
