.app__main {
  display: flex;
  overflow: auto;
  flex-direction: column;
  padding: var(--rm-space-medium);
}

.button_to {
  height: 25px;
}

.todo-card {
  margin-top: var(--rm-space-small);
  display: flex;
  justify-content: space-between;

  a {
    color: var(--rm-color-on-background)
  }
}

.form-group:not([class$='-width']) {
  width: 100%;
}

.panel__content>.modal-nav {
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal__body #confirm-body:has(p:not(:empty)) {
  box-shadow: inset -2px -2px 8px 2px rgba(0, 0, 0, 0.05);
  padding: var(--op-space-small);
  border-radius: 10px;

  p {
    text-align: left;
    font-style: italic;
    font-size: 1.1rem;
  }
}

#alt-confirm.modal {
  .modal__header {
    margin-bottom: 0;
  }

  .modal__body {
    padding: var(--op-space-x-large);
     p {
      font-style: italic;
      font-size: 1.4rem;
    }
  }

  .modal__footer {
    justify-content: space-between;
  }
}
