%global-active-modal {
  visibility: visible;

  .modal {
    opacity: var(--op-opacity-full);
    transform: scale(1);
  }

  .modal-wrapper__backdrop {
    opacity: var(--_op-modal-backdrop-active-opacity);
    visibility: visible;
  }
}

%modal-wrapper-global {

  &.modal--active {
    @extend %global-active-modal;
  }

  &.is-open {
    @extend %global-active-modal;
  }

  .modal {
    padding: var(--op-spacing-lg);
  }
}
