name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
permissions:
  contents: read
  checks: write
jobs:
  test:
    timeout-minutes: 5
    runs-on: blacksmith-4vcpu-ubuntu-2404
    env:
      CI: true
    steps:
      - uses: actions/checkout@v4

      - name: Enable corepack
        shell: bash
        run: corepack enable

      - name: Set up node
        uses: actions/setup-node@v4
        with:
          cache: yarn

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version-file: test/dummy/.ruby-version
          bundler-cache: true

      - name: Install dependencies & Run tests
        run: yarn test

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
