name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
permissions:
  contents: read
  checks: write
jobs:
  test:
    timeout-minutes: 5
    runs-on: blacksmith-4vcpu-ubuntu-2404
    env:
      CI: true
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Enable Corepack
        shell: bash
        run: corepack enable

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          cache: yarn

      - name: Install Ruby for Test App
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Setup Test App
        working-directory: ./test/dummy
        run: |
          bundle install
          bin/setup --skip-server

      - name: Install Turbo-Confirm Dependencies
        run: |
          yarn install
          yarn playwright install --with-deps

      - name: Run Test Suite
        run: yarn playwright test

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
